// // Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "Componentes/navbar";
.active{                    /*defino una clase para css*/
    text-decoration:none;
    color:brown;

}
.error{
    color:red;
    font-size:12px;
}

nav{
    width:100%;
    display:flex;
    justify-content: space-around;
}
.fondoli{
    background-color: azure;
}
footer{
    text-align: center;
}